APP_NAME = "Todos App"

APP_VERSION = "0.1.0"

APP_TIMEOUT = 10

DEBUG = "false"

SERVER_PORT = 8080

DATABASE_URL = "mongodb://<user>:<password>@<host>/?<params>"

DATABASE_NAME = "<mongo-database-name>"

STORE="inmemory"

INTERFACE = "http"
