DB_USER = "username"

DB_PASSWORD = "password"

PORT = "8080"

DB_NAME = "todos"

COLLECTION = "todos"

DB_HOST = "localhost"

DB_USER = "user"

DB_PASSWORD = "password"

DB_PORT = "27017"

AUTH_DB = "admin"

APP_TIMEOUT = "10"